body, html{
    background-image: url('/assets/forestbg.png');
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    margin: 0 ;
    padding: 0 ;
}

h1{
    font-family: 'Neucha', cursive;
    font-size: 40pt;
}

#phaser{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
