<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>

    <h1 align="center">HIDDEN TRAPS</h1>

    <!--modal content-->
    <form class="" action="/login" method="post">
      <div class="container">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter username" required>

        <label for="pwd">Password</label>

        <input type="text" id="pwd" name="pwd" placeholder="Enter password" required>
        <b style = "color:red;">The Username you've entered doesn't match any account.</b><br>
        <b style = "color:red;">Sign up for an account.</b>
        <button type="submit" name="signInBtn">Login</button>


    </form>
    <form class="" action="/signUp" method="post">
      <button type="submit" name="signUpBtn">Sign up</button>
    </form>
  </body>

</html>
