<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Password</title>
  </head>
  <body>
    <h1>Change password</h1>
    <form class="" action="/changePwdAction" method="post">
      Enter your username: <input type="text" name="changePwdName" value=""><br>

      New password: <input type="text" name="newPwd" value=""><br>
      <button type="Submit" name="button">Submit</button>

    </form>
  </body>
</html>
