<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/changePwdConfirmationAction" method="post">
        Enter the confirmation code: <input type="text" name="changePwdCodeInput" value=""><br>
        <button type="submit" name="button"></button>
    </form>
  </body>
</html>
