<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <title>Battle Blobs</title>
      <link rel="stylesheet" href="/stylesheets/game.css">
      <link href="https://fonts.googleapis.com/css?family=Sniglet:800&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    </head>
    <body>
      <script src="/socket.io/socket.io.js"></script>
        <div align="right" id="logoutDiv">
            <form class="" action="/logout" method="post" onsubmit="return confirm('Are you sure you want to logout?')">
              <button type="submit" id="logout">Logout</button>
            </form>
        </div>
      <script src="//cdn.jsdelivr.net/npm/phaser@3.3.0/dist/phaser.min.js"></script>
      <script src="js/gameScript.js" defer></script>
      <script src="js/weatherConfig.js" defer></script>
      <h1 align="center">BATTLE BLOBS</h1>
      <p id="colour"><%= character %></p>
      <div align="center" id="phaser"></div>

      
      <form class="" action="/postgame" method="post">
        <button type="submit" name="button">Go to postgame screen</button>
      </form>
      <button id="toggleWeather" hidden>WEATHER ON</button>
      <button id="music">MUSIC OFF</button>
      <button id="sound">SOUND OFF</button>

      <!-- <table>
        <tr>
          <td><button id="toggleRain">RAIN ON</button></td>
          <td><button id="toggleDrizzle">DRIZZLE ON</button></td>
          <td><button id="toggleSnow">SNOW ON</button></td>
          <td><button id="toggleFog">FOG ON</button></td>
          <td><button id="toggleMist">MIST ON</button></td>
          <td><button id="toggleHaze">HAZE ON</button></td>
        </tr>
      </table> -->
    </body>
</html>
