<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <title>Battle Blobs</title>
      <link rel="stylesheet" href="/stylesheets/game.css">
      <link href="https://fonts.googleapis.com/css?family=Sniglet:800&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    </head>
    <body>
      <script src="//cdn.jsdelivr.net/npm/phaser@3.3.0/dist/phaser.min.js"></script>
      <script src="js/gameScript.js"></script>
      <script src="js/weatherConfig.js" defer></script>
      <h1 align="center">BATTLE BLOBS</h1>
      <div align="center" id="phaser"></div>
      <form class="" action="/postgame" method="post">
        <button type="submit" name="button">Go to postgame screen</button>
      </form>
    </body>
</html>
