<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/alienPink.png">
    <style>
      /* #movementimg {
        display: block;
        margin: auto;
        height: 200px;
        width: 300px;
      }
      #movement {
        font-size: 30px;
        margin-left: 900px;
      } */
    </style>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div align="right" id="logoutDiv">
        <form class="" action="/logout" method="post" onsubmit="return confirm('Are you sure you want to logout?')">
          <button type="submit" id="logout">Logout</button>
        </form>
    </div>

    <h1 align="center">HOME SCREEN</h1>
    <h2 align="center">Objective: just win lol</h2>

    <div class="controlkeys">
      <h3>Controls</h3>
      <img src="/assets/wasd.png" id="movementimg">
      <p id="movement">Movement</p>
    </div>
    <form class="" action="/pregame" method="post">
      <button type="submit" name="button">Start</button>
    </form>

  </body>
</html>
