<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>HOME PAGE</h1>
    
    <% if ( typeof message != 'undefined' && message.length > 0) { %>
    <p class="successMessage"><%= message %></p>
    <% } %>

    <h2>Objective of the game</h2>
    <form class="" action="/pregame" method="post">
      <button type="submit" name="button">Start</button>
    </form>
    <form class="" action="/rules" method="post">
      <button type="submit" name="button">How to play</button>
    </form>
  </body>
</html>
