<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confirmation Page</title>
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet:800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="confirmcontainer" class="container">

    <h2>Please enter the confirmation code sent to your email:</h2>
    <form class="" action="/mailCodeForm" method="post">
      <input type="hidden" name="par" value="<%= mailCode %>">

      <input type="text" name="mailCodeInput" value=""><br>
      <button type="submit" name="button">Confirm</button>

    </form>
    </div>
  </body>
</html>
