<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="/stylesheets/pregame.css">
      <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
      <meta charset="utf-8">
    <title>Postgame</title>
    <link rel="icon" href="/assets/alienPink.png">

    <!-- Include jquery, cookies, socket.io (client-side) and your own code -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
  </head>
  <body>
    <% include ../partials/logout.ejs %>
    <h1 align="center">POSTGAME SCREEN</h1>
    <h2 align="center">GAME OVER</h2>

    <form class="" action="/home" method="post">
      <button type="submit" name="button">Play Again!</button>
    </form>
  </body>
</html>
