<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pregame</title>
  </head>
  <body>
    <h1>PREGAME SCREEN</h1>
    <form class="" action="/game" method="post">
      <button type="submit" name="button">Select the character</button>
    </form>
  </body>
</html>
