<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="/stylesheets/pregame.css">
      <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Pregame</title>
  </head>
  <body>
    <h1 align= "center">PREGAME PAGE</h1>
    
    <% if ( typeof message != 'undefined' && message.length > 0) { %>
    <p class="successMessage"><%= message %></p>
    <% } %>

    <h2 align="center">Select your character:</h2>


    <form align="center" class="" action="/game" method="post">
      <label>
          <input name="character" value="pink" type="radio"/>
          <img src="assets/alienPink.png">
      </label>
      <label>
          <input name="character" value="blue" type="radio"/>
          <img src="assets/alienBlue.png">
      </label>
      <label>
          <input name="character" value="green" type="radio"/>
          <img src="assets/alienGreen.png">
      </label>
      <label>
          <input name="character" value="beige" type="radio"/>
          <img src="assets/alienBeige.png">
      </label>
      <label>
          <input name="character" value="yellow" type="radio"/>
          <img src="assets/alienYellow.png">
      </label>
    
      <button type="submit" name="button">Join game!</button>
    </form>
  
  </body>
</html>
