<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="/stylesheets/pregame.css">
      <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Pregame</title>
  </head>
  <body>
    <h1 align= "center">PREGAME PAGE</h1>
    
    <% if ( typeof message != 'undefined' && message.length > 0) { %>
    <p class="successMessage"><%= message %></p>
    <% } %>

    <h2 align="center">Select your character:</h2>

    <form align="center" class="" action="/game" method="post">
      <input id="pink" type="image" src="assets/alienPink.png"/>
      <button type="submit" name="button">Join game!</button>
    </form>
  </body>
</html>
