<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>SIGN UP PAGE</h1>
    <form id="signupform" action="/signUpForm" method="POST">
    <table>
      <tr>
        <td>Username: </td>
        <td><input name="username" type="text" maxlength="30" placeholder="Username"></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input name="password" type="text" maxlength="30" placeholder="Password"></td>
      </tr>
      <tr>
        <td>Confirm password: </td>
        <td><input name="confirmPassword" type="text" maxlength="30" placeholder="Confirm password"></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input name="email" type="text" placeholder="optional"></td>
      </tr>
    </table>
    <button type="submit" >Sign Up!</button>
    </form>
  </body>
</html>
