<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>SIGN UP PAGE</h1>
    <form id="signupform" action="/signUpForm">
    <table>
      <tr>
        <td>Username: </td>
        <td><input id="username" type="text" maxlength="30" value="Username"></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input id="password" type="text" maxlength="30" value="Password"></td>
      </tr>
      <tr>
        <td>Confirm password: </td>
        <td><input id="confirmPassword" type="text" maxlength="30" value="Confirm password"></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input id="email" type="email" value="optional"></td>
      </tr>
    </table>
    </form>
    <button type="submit" >Sign Up!</button>
  </body>
</html>
